#app {
    /* height: 48rem;
    width: 24rem; */
    padding: 2rem 1.6rem;
    /* overflow-y: scroll; */
    position: relative;
}

/* ---------------- BUTTONS ---------------- */

.btn {
    background: var(--color-bg-dark);
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-size: 1.6rem;
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

.btn.lg {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
}

.btn.danger {
    background: var(--color-danger);
}

.btn.primary {
    background: var(--color-primary);
}

.btn:hover {
    cursor: pointer;
    box-shadow: none;
}

.btn.add__btn {
    position: fixed;
    bottom: 4rem;
    right: 1.5rem;
    padding: 1rem;
}

.container-btns {
    display: flex;
    gap: 10px;
}

/* ---------------- NOTES PAGE ---------------- */
.note p {
    font-size: 0.8rem;
    opacity: 0.9;
}

.notes__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-bg-black);
    z-index: 9;
    margin-bottom: 1rem;
}


.notes__header input {
    padding: 0.7rem 1rem;
    background: transparent;
    border: 1px solid var(--color-bg-dark);
    border-radius: 0.6rem;
    color: var(--color-white);
    font-size: 1.1rem;
    width: 100%;
    margin-right: 1.5rem;
}

.notes__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.empty__notes {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.note {
    background: var(--color-primary);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
    color: var(--color-white);
    border-radius: 5px;
}

.note:nth-child(4n + 1) {
    background: var(--color-primary-1);
}

.note:nth-child(4n + 2) {
    background: var(--color-primary-2);
}

.note:nth-child(4n + 3) {
    background: var(--color-primary-3);
}

.note:hover {
    opacity: 0.9;
}

.note:nth-child(3) {
    grid-column: 1/3;
}

.note:nth-child(4) {
    grid-row: 3/5;
}

.note:nth-child(7) {
    grid-column: 1/3;
}

/* ----------- CREATE NOTE & EDIT NOTE PAGE ---------- */

.create-note__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-create-edit {
    font-size: 2rem;
}

.create-note__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.create-note__form input, .create-note__form textarea {
    width: 100%;
    padding: 0.5rem 0;
    background: transparent;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    color: var(--color-white);
}

.create-note__form input {
    font-size: 2rem;
}

/* ---------------- FOOTER ---------------- */
.scrollToTop {
  bottom: 0px;
  right: 0px;
  animation: fadeIn 600ms ease-in-out 1s both;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content:flex-end;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.back-top-container {
  text-align: center;
  width: 100%;
  height: 60px;
  /* background: #ffffff; */
  animation: 10s linear 0s infinite normal none running Gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.indication {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #000000;
}
